<!DOCTYPE html>
<html lang="en">
<!-- include the head from head.ejs file -->
<%- include('includes/head', {title: 'CommunityVoice/Edit'}) %>

<style>
    /* this media query uses for aliging the form in the center of the page in mobile device */
    @media only screen and (max-width: 600px) {
        div#edit_form form {
            text-align: center !important;
            margin: auto !important;
        }

        div#edit_form form input, textarea {
            width: 80% !important;
        }

        .navbar {
            padding: 0px 10px !important;
        }

        .navbar a {
            font-size: 13px !important;
        }

        footer {
            padding: 20px 50px !important;
        }

        footer div.contact {
            width: 100% !important;
            padding: 10px !important;
        }

        footer div.report {
            width: 100% !important;
            padding: 10px !important;
        }
    }
</style>
<body>
    <!-- navigation -->
    <%- include('includes/navigation') %>

    <div id="edit_form">
        <h2 style="text-align: center; padding: 1.5rem;">Edit Your Report</h2>
        <form action="/edit/<%- report._id %>?_method=PUT" method="POST">
            <input type="text" id="name" name="name" value="<%- report.name %>"> <br>
            <input type="email" id="email" name="email" value="<%- report.email %>"> <br>
            <input type="text" id="category" name="category" value="<%- report.category %>"> <br>
            <input type="text" id="address" name="address" value="<%- report.address %>"> <br>
            <textarea name="details" id="detail" rows="6" cols="4"><%- report.details %></textarea> <br>
            <input type="text" id="createdAt" name="createdAt" value="<%- report.createdAt ? report.createdAt.toLocaleDateString('en-US') : 'N/A' %>" readonly> <br>
            <input type="submit" value="Update">
        </form> 
    </div> <br>

    <!-- include footer -->
    <%- include('includes/footer') %>
</body>
</html>